
body {
  background:url('https://img.freepik.com/foto-gratis/carretera-amplia-edificios-lados_1127-2188.jpg?w=996&t=st=1663021786~exp=1663022386~hmac=d863df9dfaef7cefecda80f3cea6a6f284f83ae9f38961784427c0baa9a87135') no-repeat center center fixed;
  background-size: cover;
 

}
.wrapper{ 
  color: white;
  display: flex;
  justify-content: center;
}

*{
  font-family: 'Montserrat', sans-serif;
}
.nav{
  background-color: #4242427e;
  display:flex;
  align-items: center;
  text-align:justify;
  color: white;
}
.nav h2{
  font-weight:bolder;
  margin-left:2.2rem;
}
.signIn{
  font-weight:100;
}

.signIn{
  color: white;
  background:none;
  font-size: 18px;
  height: 3em;
  width: 186px;
  border-style: hidden;
  
 
}
.formLogin {
  width: 600px;
  height: 496px;
	margin-top: 50px;
	background: rgba(0, 0, 0, 0.7);
	border-radius: 15px;
	padding: 20px;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formLogin p {
  font-size: 35px;

}
.label {
  font-size: 24px;
  margin-bottom: 5px;
}
.lostPass{
  font-size: 14px;
}
.inputLogin{
  background-color: #797575;
  border-radius: 5px;
  width: 470px;
  height: 30px;
  margin-bottom: 20px;
  border: none;
}

.buttonLogin {
  background-color: #007BFF;
  width: 470px;
  height: 30px;
  border-radius: 8px;
  color: white;
  margin-top: 50px;
  margin-bottom: 10px;
  border: none;
}
.errors{
  /* background-color: aqua; */
  color: rgb(240, 25, 25);
  background-color: rgba(213, 77, 77, 0.466);
  padding: .5rem;
  margin-bottom: 25px;
  border-radius: 5px;
  width: 470px;
  height: 30px;
}